footer
    div(class='container text-center small' style='color:darkgray')
        br
        |[&nbsp;
        a(href='/index') API Doc
        |&nbsp;]&nbsp;&nbsp;&nbsp;[&nbsp;
        a(href='/list') List Mazes
        |&nbsp;]
    br