doctype html
html(lang='en')
    head
        style
            include style.css
        title Maze Service - List
        body
            h1 Maze Service - List Mazes
            hr
            h3 All mazes currently stored in the database.
            br
            div
                #mazes
                    if mazes.length > 0
                        table
                            th Height
                            th Width
                            th Seed
                            th Actions
                            each maze in mazes
                                tr
                                    td= maze.height
                                    td= maze.width
                                    td= maze.seed
                                    td
                                        a(href='/view/' + maze.height + ':' + maze.width + ':' + maze.seed) view
                                        | &nbsp;|&nbsp;
                                        a(href='/get/' + maze.height + ':' + maze.width + ':' + maze.seed) json
                                        | &nbsp;|&nbsp;
                                        a(href='/delete/' + maze.height + ':' + maze.width + ':' + maze.seed) delete
                    else
                        h3 No mazes found in the database.